%h1 Levels

%table
  %tr
    %th Level
    %th Title
    %th
    %th
    %th

  - @levels.each do |level|
    %tr
      %td= level.level
      %td= level.title
      %td= link_to 'Show', level_question_answers_path([level])
      %td= link_to 'Edit', edit_level_path(level)
      %td= link_to 'Destroy', level, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Level', new_level_path
