%h1 Level #{@level.level} Q &amp; A's

%table
  %tr
    %th Q
    %th A
    %th Score
    %th Bonus
    %th
    %th
    %th

  - @question_answers.each do |question_answer|
    %tr
      %td= question_answer.question
      %td= question_answer.answer
      %td= question_answer.score
      %td= question_answer.bonus
      %td= link_to 'Show', level_question_answer_path(@level, question_answer)
      %td= link_to 'Edit', edit_level_question_answer_path(@level, question_answer)
      %td= link_to 'Destroy', question_answer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Q & A', new_level_question_answer_path(@level)
