%p#notice= notice

%p
  %b Question:
  = @question_answer.question
%p
  %b Answer:
  = @question_answer.answer
%p
  %b Count:
  = @question_answer.count
%p
  %b Bonus:
  = @question_answer.bonus
%p
  %b Level:
  = @question_answer.level

= link_to 'Edit', edit_question_answer_path(@question_answer)
\|
= link_to 'Back', question_answers_path
