%p#notice= notice

%p
  %b Question:
  = @question_answer.question
%p
  %b Answer:
  = @question_answer.answer
%p
  %b Score:
  = @question_answer.score
%p
  %b Bonus:
  = @question_answer.bonus

= link_to 'Edit', edit_level_question_answer_path(@level, @question_answer)
\|
= link_to 'Back', level_question_answers_path(@level)
